#file_list {
	display: none;
}

#file_list ul {
	background:#bde7fd;
	padding:10px;
	border:1px solid #66ccff;
	width:80%;
	margin:15px 0px 15px 0px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

#file_list ul li {
	list-style-position: inside;
	clear:both;
	margin-bottom:5px;
}

#file_list ul li .progress {
	height:15px;
	margin-bottom:0px;
	width:150px;
}

#file_list ul li.error {
	color:red;
}